
<div class="container text-center uppercase max-md:p-3">
    <p class="text-3xl md:text-4xl font-bold text-four mb-6 p-3 border border-four rounded-full bg-primary-50">
      About Me
    </p>
    <p class="text-lg leading-relaxed md:text-xl mb-6" #detailAboutElement>
      Hi! I’m <span class="text-five font-semibold">Franito Elgissio Randriamanarina</span>, a 
      <span class="text-five font-semibold">Fullstack Web Developer</span> with a passion for  
      <span class="font-bold"> creating clean, 
        efficient, and scalable web applications. </span>
      I work on both the frontend and backend, using modern technologies like 
      <span class="font-semibold text-five"> Angular, ReactJS, NestJS, Laravel</span> and <span class="text-five font-semibold">MongoDB</span> 
      to deliver reliable and user-friendly solutions.
    </p>
    <p class="text-lg leading-relaxed md:text-xl mb-6" #detailAboutElement>
      I enjoy solving problems and building tools that make a real impact, whether it’s for 
      <span class="text-five font-semibold">businesses, teams </span>or <span class="text-five font-semibold">
         personal projects</span>. Collaboration is at the heart of my work, 
      and I believe that <span class="font-bold">sharing ideas</span> and <span class="font-bold">learning</span> from 
      others leads <span class="font-bold">to better outcomes for everyone.</span>
    </p>
    <p class="text-lg leading-relaxed md:text-xl" #detailAboutElement>
      Whether you’re a <span class="text-five font-semibold">recruiter, developer </span>or <span class="text-five font-semibold">fellow freelancer</span>, 
      I’m always open to<span class="text-five font-semibold"> connecting, exchanging ideas,</span> 
      and <span class="text-five font-semibold">tackling new challenges</span> together. 
      <span class="font-bold">Let’s make something great!</span>
    </p>
  </div>