
<div class="container text-center uppercase" #detailAboutElement>
    <h2 class="text-3xl md:text-4xl font-bold mb-6">
      About Me
    </h2>
    <p class="text-lg leading-relaxed md:text-xl mb-6">
      Hi! I’m <span class="text-indigo-400 font-semibold">Franito Elgissio Randriamanarina</span>, a 
      <span class="text-indigo-400 font-semibold">Fullstack Web Developer</span> with a passion for creating clean, efficient, and scalable web applications. I work on both the frontend and backend, using modern technologies like 
      <span class="font-medium">JavaScript, Angular, React, Node.js,</span> and <span class="font-medium">MongoDB</span> to deliver reliable and user-friendly solutions.
    </p>
    <p class="text-lg leading-relaxed md:text-xl mb-6">
      I enjoy solving problems and building tools that make a real impact, whether it’s for businesses, teams, or personal projects. Collaboration is at the heart of my work, and I believe that sharing ideas and learning from others leads to better outcomes for everyone.
    </p>
    <p class="text-lg leading-relaxed md:text-xl">
      Whether you’re a recruiter, developer, or fellow freelancer, I’m always open to connecting, exchanging ideas, and tackling new challenges together. Let’s make something great!
    </p>
  </div>