.contact-container {
    @apply w-full min-h-screen bg-primary flex justify-center items-center max-lg:p-3 pb-20;

    .title {
        @apply text-3xl md:text-4xl font-bold text-four mb-6 p-3 border border-four rounded-full bg-primary-50 uppercase text-center;
    }

    .contact-content {
        @apply text-textColor shadow-lg rounded-3xl relative overflow-hidden grid lg:grid-cols-2 uppercase min-h-fit;

        .form-section {
            @apply bg-secondary-20 relative;

            min-height: 656px;

            .form-content {
                @apply p-8 bg-transparent absolute w-full h-full z-10;


                .form-title {
                    @apply text-2xl font-semibold mb-6;
                }

                .form-item {
                    label {
                        @apply block font-medium mb-1;
                    }
                }

            }

            .dark-bg {
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23192E40' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
            }

            .light-bg {
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f2f8fc' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
            }



            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0.5;
                background: radial-gradient(500px circle at var(--mouse-x) var(--mouse-y),
                        var(--tertiary) 0%,
                        transparent 60%);
                z-index: 0;
            }
        }

        .info-section {
            @apply bg-secondary p-8 h-fit;

            .info-title {
                @apply text-xl font-semibold mb-4;
            }
        }

    }

    .social-contact {
        @apply flex gap-6 mt-3 mb-6;

        .social-item {
            @apply w-10 h-10 rounded-full bg-primary;

            svg {
                @apply w-full h-full text-secondary hover:scale-105 active:scale-95;

                path {
                    fill: var(--five);
                }
            }
        }
    }
}