.app-container {
  @apply w-full flex flex-col relative overflow-hidden;

  background-color: transparent;
  transition: var(--transition);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: radial-gradient(500px circle at var(--mouse-x) var(--mouse-y),
        var(--text-color) 0%,
        transparent 60%);
    z-index: -1;
    transition: var(--transition);
  }

}

.dark-bg {
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23192E40' fill-opacity='0.3'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.light-bg {
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f2f8fc' fill-opacity='0.3'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


.toggle {
  @apply fixed bottom-10 right-10 flex flex-col gap-4 items-end justify-between;
  transition: var(--transition);

  .pri {
    @apply bg-primary text-four p-4 rounded border border-four;
    transition: var(--transition);
  }

  .seco {
    @apply bg-secondary text-five py-2 px-4 rounded;
    transition: var(--transition);
  }

  .loader2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #02152e, #000000);
    z-index: 9999;

    .loader-text {
      color: #000;
      font-size: 3em;
      font-weight: bold;
      display: flex;

      .letter {
        margin: 0 50px;
        animation: animate 2s linear infinite;
      }


      .letter:nth-child(1) {
        animation-delay: 0s;
      }

      .letter:nth-child(2) {
        animation-delay: 0.1s;
      }

      .letter:nth-child(3) {
        animation-delay: 0.2s;
      }

      .letter:nth-child(4) {
        animation-delay: 0.3s;
      }

      .letter:nth-child(5) {
        animation-delay: 0.4s;
      }

      .letter:nth-child(6) {
        animation-delay: 0.5s;
      }

      .letter:nth-child(7) {
        animation-delay: 0.6s;
      }

      .letter:nth-child(8) {
        animation-delay: 0.7s;
      }

      .letter:nth-child(9) {
        animation-delay: 0.8s;
      }

    }

  }

}


@keyframes animate {

  0%,
  100% {
    color: #fff;
    filter: blur(2px);
    opacity: 1;
    text-shadow: 0 0 10px #00b3ff,
      0 0 20px #00b3ff,
      0 0 40px #00b3ff,
      0 0 80px #00b3ff,
      0 0 120px #00b3ff,
      0 0 200px #00b3ff,
      0 0 300px #00b3ff,
      0 0 400px #00b3ff;
  }

  25%,
  75% {
    opacity: 0.5;
    color: #000;
    filter: blur(0px);
    text-shadow: none;
  }
}