<div class="app-container" (mousemove)="onMouseMove($event)" 
[ngClass]="{ 'dark-bg' : sharedService.theme() === 'dark' , 'light-bg': sharedService.theme() === 'light'}">

  <app-nav-bar />

  <app-hero />
  
  <app-about />
  
  
  <div class="toggle">
    <button (click)="toggleTheme()" class="p-2 bg-four rounded">
      Toggle Theme
    </button>

    <div class="pri">
      Couleur principale en arrière-plan avec du texte dans la couleur numéro cinq.
    </div>

    <button class="seco">
      Bouton avec une couleur secondaire
    </button>
  </div>

</div>