@if (isLoading()) {
<div class="loader2">
  <div class="loader-text">
    <span class="letter">E</span>
    <span class="letter">l</span>
    <span class="letter">g</span>
    <span class="letter">i</span>
    <span class="letter">s</span>
    <span class="letter">s</span>
    <span class="letter">i</span>
    <span class="letter">o</span>
    <span class="letter">...</span>
  </div>
</div>
} @else {


<div class="app-container" (mousemove)="onMouseMove($event)"
  [ngClass]="{ 'dark-bg' : sharedService.theme() === 'dark' , 'light-bg': sharedService.theme() === 'light'}">

  <app-nav-bar />

  <app-hero id="hero" />

  @defer (on viewport) {
  <app-about id="about" />
  } @placeholder {
  <div style="height: 500px;"></div>
  }

  @defer (on viewport) {
  <app-skills id="skills" />
  } @placeholder {
  <div style="height: 500px;"></div>
  }

  @defer (on viewport) {
  <app-projects id="projects" [(idProject)]="idProject" />
  } @placeholder {
  <div style="height: 500px;"></div>
  }

  @defer (on viewport) {
  <app-contact id="contact" />
  } @placeholder {
  <div style="height: 500px;"></div>
  }

  <div class="toggle">
    <!-- <button (click)="toggleTheme()" class="p-2 bg-secondary rounded">
      secondary
    </button>
    <button (click)="toggleTheme()" class="p-2 bg-tertiary rounded">
      tertiary
    </button>
    <button (click)="toggleTheme()" class="p-2 bg-four rounded">
      four
    </button>
    <button (click)="toggleTheme()" class="p-2 bg-five rounded">
      five
    </button> -->
    <label class="switch">
      <input type="checkbox" [checked]="themeCheck()">
      <span class="slider" (click)="toggleTheme()"></span>
    </label>
  </div>


</div>
}


@if (idProject() > 0) {
<div class="fixed top-0 left-0 w-full h-screen bg-black/60 backdrop-blur-sm z-50 flex justify-center items-center p-4"
  @zoomIn (click)="onCloseBackdrop($event)">
  <app-detail-project [(idProject)]="idProject" (click)="$event.stopPropagation()" />
</div>
}

<!-- Popup notification -->
@if (sharedService.notification() !== null) {
<div class="fixed top-4 right-4 z-50 animate-jump">
  <div class="text-white p-4 rounded" [class]="sharedService.notification()!.type === 'error' ? 'bg-red-500' : 'bg-green-500'">
    {{ sharedService.notification()!.message }}
  </div>
</div>
}