<div class="app-container" (mousemove)="onMouseMove($event)" 
[ngClass]="{ 'dark-bg' : sharedService.theme() === 'dark' , 'light-bg': sharedService.theme() === 'light'}">

  <app-nav-bar />

  <app-hero id="hero"/>
  
  <app-about id="about"/>
  
  
  <div class="toggle">
    <button (click)="toggleTheme()" class="p-2 bg-four rounded">
      Toggle Theme
    </button>

    <div class="pri">
      Color four with bg-primary.
    </div>

    <button class="seco">
      Color five with bg-secondary (btn-toggle is with bg-four) 
    </button>
  </div>

</div>