.nav-container {
    @apply fixed top-4 right-1/2 transform translate-x-1/2 bg-secondary-50 py-2 px-3 rounded-full shadow-md flex items-center space-x-8 z-30 w-16 max-sm:transform-none max-sm:translate-x-0 max-sm:right-5;

    transition: var(--transition);

    &:hover {
        width: 520px;

        @media screen and (max-width: 767px) {
            width: 340px;
        }

        .items {
            @apply w-full opacity-100 mr-14 gap-2;

        }

        .menu-button {
            @apply right-6;
        }

    }


    .items {
        @apply w-0 opacity-0 overflow-hidden flex gap-1;

        transition: var(--transition);

        .nav-item {
            @apply text-sm hover:text-five cursor-pointer uppercase hover:scale-x-105 hover:bg-gray-400 hover:bg-opacity-10 rounded-full p-2 px-4 max-md:px-2;

            transition: var(--transition);

            &:hover {
                svg {
                    @apply text-five;
                }
            }

            svg {
                @apply w-7 h-7 text-textColor;
            }
        }
    }

    .menu-button {
        @apply absolute bg-transparent w-8 h-8 rounded-full flex items-center justify-center hover:bg-tertiary right-4;

        margin: 0 !important;
        transition: var(--transition);

    }


    .menu-dot {
        @apply w-1.5 h-1.5 bg-textColor rounded-full;

        transition: var(--transition);
    }
}