<nav class="nav-container">
  <div class="items">
    <a href="#about" class="nav-item">About</a>
    <a href="#creations" class="nav-item">Skills</a>
    <a href="#experience" class="nav-item">Experience</a>
    <a href="#contact" class="nav-item">Contact</a>
  </div>
  <button class="menu-button">
    <span class="sr-only">Menu</span>
    <div class="grid grid-cols-3 gap-1">
      <span class="menu-dot"></span>
      <span class="menu-dot"></span>
      <span class="menu-dot"></span>
      <span class="menu-dot"></span>
      <span class="menu-dot"></span>
      <span class="menu-dot"></span>
      <span class="menu-dot"></span>
      <span class="menu-dot"></span>
      <span class="menu-dot"></span>
    </div>
  </button>
</nav>