<div class="projects-container">
    <div class="text-center container
        max-lg:flex-col max-lg:justify-center max-lg:gap-10 max-lg:items-center">
        <p class="title">
            My Projects
        </p>
        <p class="subtitle">
            Here are some of the projects I have accomplished
        </p>

        <div class="projects-cards">
            <div class="project-card" (mousemove)="onMouseMove($event)">
                <div class="card-content">
                    <div class="content-text">
                        <div class="projet-title">GED</div>
                        <div class="projet-description">
                            A Document Management System (Gestion Électronique de Documents) implementation focuses on
                            centralizing, organizing, and
                            securing an organization's digital document assets. It streamlines file access, sharing, and
                            archiving by leveraging features like advanced search capabilities, access control
                            management, and automated workflows. The goal is to optimize document management processes
                            to boost efficiency and minimize paper-based expenses.
                        </div>
                        <div class="view-detail" (click)="onViewDetailProject(1)">View detail</div>
                    </div>
                </div>
            </div>
            <div class="project-card" (mousemove)="onMouseMove($event)">
                <div class="card-content">
                    <div class="content-text">
                        <div class="projet-title">Les Professionnels de Madagascar</div>
                        <div class="projet-description">
                            This is a business directory website. It serves as a platform for listing, searching, and
                            accessing
                            comprehensive information about companies, including their contact information, business
                            activities, and range of services. It provides advanced search functionalities,
                            categorization options, and promotional features to foster connections between businesses
                            and potential customers. The aim is to enhance business visibility and make them easily
                            discoverable by the public.
                        </div>
                        <div class="view-detail" (click)="onViewDetailProject(2)">View detail</div>
                    </div>
                </div>
            </div>
            <div class="project-card" (mousemove)="onMouseMove($event)">
                <div class="card-content">
                    <div class="content-text">
                        <div class="projet-title">Stock management</div>
                        <div class="projet-description">
                            The stock management application provides real-time tracking, organization, and
                            optimization of inventory levels. Key features include recording stock inflows and outflows,
                            product tracking and tracing, low-stock alerts, inter-warehouse transfers, and comprehensive
                            reporting. The goal is to ensure effective inventory control to minimize costs and prevent
                            both stockouts and excess inventory.
                        </div>
                        <div class="view-detail" (click)="onViewDetailProject(3)">View detail</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>