<div class="projects-container">
    <div class="text-center container
        max-lg:flex-col max-lg:justify-center max-lg:gap-10 max-lg:items-center p-3">
        <p
            class="text-3xl md:text-4xl font-bold text-four mb-6 border border-four rounded-full bg-primary-50 uppercase">
            My Projects
        </p>
        <p
            class="text-textColor mb-6 uppercase">
            Their are some latest projects
        </p>

        <div class="projects-cards">
            <div class="project-card" (mousemove)="onMouseMove($event)">
                <div class="card-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iusto omnis saepe perferendis ducimus laudantium dolores eligendi, repudiandae totam, illum quasi provident quam inventore. Eum architecto corporis soluta quaerat dolorem.
                </div>
            </div>
            <div class="project-card" (mousemove)="onMouseMove($event)">
                <div class="card-content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit praesentium similique nam saepe facilis cumque corporis, esse quibusdam sapiente hic culpa minima iusto rerum unde natus pariatur quos, atque odio.
                </div>
            </div>
            <div class="project-card" (mousemove)="onMouseMove($event)">
                <div class="card-content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero unde est placeat sit aliquid cumque ea a, autem incidunt, laboriosam culpa aut voluptatum eos veritatis ducimus reprehenderit natus. Modi, incidunt?
                </div>
            </div>
        </div>
    </div>
</div>