<div class="projects-container">
    <div class="text-center container
        max-lg:flex-col max-lg:justify-center max-lg:gap-10 max-lg:items-center">
        <p class="title">
            My Projects
        </p>
        <p class="subtitle">
            Here are some of the projects I have accomplished
        </p>

        <div class="projects-cards">
            <div class="project-card" (mousemove)="onMouseMove($event)">
                <div class="card-content">
                    <div class="content-text">
                        <div class="projet-title">GED</div>
                        <div class="projet-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iusto omnis saepe perferendis
                            ducimus laudantium dolores eligendi, repudiandae totam, illum quasi provident quam
                            inventore. Eum architecto corporis soluta quaerat dolorem.
                        </div>
                        <div class="view-detail">View detail</div>
                    </div>
                </div>
            </div>
            <div class="project-card" (mousemove)="onMouseMove($event)">
                <div class="card-content">
                    <div class="content-text">
                        <div class="projet-title">Les Professionnels de Madagascar</div>
                        <div class="projet-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iusto omnis saepe perferendis
                            ducimus laudantium dolores eligendi, repudiandae totam, illum quasi provident quam
                            inventore. Eum architecto corporis soluta quaerat dolorem.
                        </div>
                        <div class="view-detail">View detail</div>
                    </div>
                </div>
            </div>
            <div class="project-card" (mousemove)="onMouseMove($event)">
                <div class="card-content">
                    <div class="content-text">
                        <div class="projet-title">Stock management</div>
                        <div class="projet-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iusto omnis saepe perferendis
                            ducimus laudantium dolores eligendi, repudiandae totam, illum quasi provident quam
                            inventore. Eum architecto corporis soluta quaerat dolorem.
                        </div>
                        <div class="view-detail">View detail</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>