.image-about-container {
    @apply flex items-center justify-between flex-col gap-3;

    .image-container {
        @apply flex items-center justify-center;

        min-width: 300px;
        width: 60%;
        
        // aspect-ratio: 1;

        img {
            @apply w-full h-full object-cover drop-shadow-[0_5px_15px_rgba(0,0,0,0.15)];

            // object-position: 23% 23%;
            // filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
            transition: var(--transition);
            
        }
    }
    
    .resume {
        @apply flex items-center justify-center w-full gap-3 text-five rounded-full p-3 cursor-pointer;
        transition: var(--transition);

        min-width: 300px;

        &:hover {
            @apply bg-tertiary-20;
        }

        svg {
            @apply w-5 h-5;
        }
    }

}